*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/layout/activity_menu.xml
app/src/main/res/drawable/side_nav_bar.xml
app/src/main/res/drawable-v21/ic_menu_slideshow.xml
app/src/main/res/drawable-v21/ic_menu_share.xml
app/src/main/res/drawable-v21/ic_menu_send.xml
app/src/main/res/drawable-v21/ic_menu_manage.xml
app/src/main/res/drawable-v21/ic_menu_gallery.xml
app/src/main/res/drawable-v21/ic_menu_camera.xml
app/src/main/java/calculator/moi/andoid/fr/paysmart/menu.java
app/src/main/res/values/drawables.xml
app/src/main/res/values/dimens.xml
app/src/main/res/values-v21/styles.xml
app/src/main/res/menu/menu.xml
app/src/main/res/menu/activity_menu_drawer.xml
app/src/main/res/layout/nav_header_menu.xml
app/src/main/res/layout/content_menu.xml
app/src/main/res/layout/app_bar_menu.xml
